@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  /* border: 1px solid red; */
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f172a;
}
@media (320px<=width<=480px) {
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f172a;
  }
}
